@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



header {
    border: solid 10px var(--cor-2);
    background: rgb(0, 0, 0);
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    color: var(--cor-1)
}


:root {
    --cor-1: #024dbe; 
    --cor-2: #040c77;
    --cor-3: #03036d;
    --cor-p: #ff0055; 
}

body {
    font-family: 'Chakra Pecht', sana-serif;
    color: var(--cor-1);
    background: var(--cor-1);
    margin: 40px;
}

h1, h2 {
    border: solid 4px aqua;
    background: rgb(0, 0, 0);
    margin: 0px;
}

h1, h2, h5 {
    color: var(--cor-p);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-p);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-3);
}

a:hover {
    color: var(--cor-p);
}
 

.container{
    background-color: #000000;
    border: solid 4px aqua;
}

.card{
   background-color: #2786f3;
}

.btn-primary {
    font-weight: 200;
}
